body {
  text-align: center;
  background-color: #d3e4ff;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}

.hidden {
  display: none
}

.message {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
}

input[type=text] {
    color: #ff00f2;
    border: 2px solid black;
    font-style: oblique;
}

input[type=submit] {
   color: solid #0eef19;
   border: 2px solid black;
 }

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
}
.nav-bar {
  border: 2px solid #FFB03B;
  margin: 50px;
  background-color:#F3C77A
}
