body {
  text-align: center;
  background-color: #2D112C;
  color: white
}

.message-list {
  background-color: #530031;
  padding: 20px;
}

h1 {
  color: white;
}

.hidden {
  display: none
}

.message {
  color: #EF4339;
  margin: 10px;
  padding: 10px;
  border: 2px solid #CA293E;
  border-radius: 5px;
}

input[type=text] {
    color: #CA293E;
    border: 2px solid #530031;
    font-style: oblique;
}

input[type=submit] {
   color: solid #530031;
   border: 2px solid pink;
 }

li {
  float: left;
}

a {
  color: #CA293E;
  display: block;
  padding: 8px;
}
.nav-bar {
  border: 2px solid #CA293E;
  margin: 50px;
  background-color:#530031
}
img{
  width: 250px;
}
